body {
    background-color: #faf9f6;
}
.table {
    margin-bottom: 0px;
    table-layout: fixed;
}
td {
    word-wrap: break-word;
}
#td1 {
    width: 100%;
}
textarea {
    display: block;
    width: 100%;
}
.hidden {
    display: none;
}
.btn-primary:hover {
    background-color: #82b743;
}
.help-block {
    color: red;
}
button {
    cursor: pointer;
}
label{
    font-weight: bold;
}
.panel{
    margin-bottom:20px;
    margin-top:20px;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,.05)
    }
.panel-body{
    padding:15px;
    display: none;
    }
.panel-heading{
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-left-radius:3px;
    border-top-right-radius:3px
    }.panel-heading > .dropdown   .dropdown-toggle{color:inherit}

.panel-primary{border-color:#92c753}.panel-primary > .panel-heading{color:#fff;background-color:#92c753;border-color:#92c753}.panel-primary > .panel-heading + .panel-collapse > .panel-body{border-top-color:#92c753}.panel-primary > .panel-heading   .badge{color:#92c753;background-color:#fff}.panel-primary > .panel-footer + .panel-collapse > .panel-body{border-bottom-color:#92c753}


.toggle-header{
    padding:10px 0;
    margin:10px 0;
    background-color:black;
    color:white;
}
.txt-green{
    color:green;
}
.txt-red{
    color:red;
}

.row{
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading   div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading   div   span{
    margin-left:5px;
}

.link { background:none;border:none; }

.masthead {
    background-color: #92c753 !important;
    color: white;
    margin-top: 40px;
}
header.masthead .header-content .header-content-inner p {
    color: white;
}
header.masthead {
    min-height: 300px;
    height: 300px;
}